<!-- <h5>Products Management Application</h5>

<div class="container mt-5">
  <app-products></app-products>
</div> -->

<!-- <app-test></app-test> -->

<!-- <app-accounts></app-accounts> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/accounts">Accounts</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/products">Products</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/numbers">Numbers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/posts">Posts</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-accounts></app-accounts>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-products></app-products>
    </div>
  </div> -->
</div>
